<!--
    view template   :   <%= viewTemplate %>
 -->
<div id="page_content">
    <div id="page_content_inner">
        <div class="uk-grid" data-uk-grid-margin>
            <div class="uk-width-large-7-10">
                <!--<div class="uk-input-group">
                    <span class="uk-input-group-addon"><i class="uk-input-group-icon uk-icon-calendar"></i></span>
                    <label for="uk_dp_1">Select date</label>
                    <input class="md-input" type="text" id="uk_dp_1" data-uk-datepicker="{format:'jYYYY.jMM.jDD'}" md-input ng-model="forms_advanced.datepicker">
                </div>-->
                <div class="md-card">
                    <div class="md-card-toolbar">
                        <div class="md-card-toolbar-actions">
                            <!--<span class="md-icon md-card-fullscreen-deactivate material-icons uk-float-left ng-hide" ng-show="card_fullscreen" ng-click="cardFullscreenDeactivate($event)"></span>-->
                            <card-fullscreen-activate></card-fullscreen-activate>
                            <!--<i class="md-icon material-icons"></i>-->
                            <div class="md-card-dropdown " data-uk-dropdown="{pos:'bottom-right'}" aria-haspopup="true" aria-expanded="false">
                                <i class="md-icon material-icons"></i>
                                <!--<div class="uk-dropdown uk-dropdown-bottom" style="min-width: 200px; top: 32px; left: -168px;">
                                    <ul class="uk-nav">
                                        <li><a href="#">Action 1</a></li>
                                        <li><a href="#">Action 2</a></li>
                                    </ul>
                                </div>-->
                            </div>
                        </div>
                        <card-fullscreen-deactivate></card-fullscreen-deactivate>
                        <h3 class="md-card-toolbar-heading-text" data-i18n="<%= moduleName %>.<%= moduleName %>s"></h3>
                    </div>
                    <div class="md-card-content">
                        <div class="uk-overflow-container">
                            <table class="uk-table uk-table-nowrap">
                                <thead>
                                    <tr>
                                        <th class="uk-width-1-10 uk-text-center">{{ '<%= moduleName %>.<%= moduleName %>Id' | i18n }} </th>
                                        <th class="uk-width-1-10 uk-text-center">{{ 'common.Name' | i18n }} </th>
                                        <th class="uk-width-1-10 uk-text-small">{{ 'common.NationalId' | i18n }}</th>
                                        <th class="uk-width-2-10">{{ 'common.EconomicCode' | i18n }}</th>
                                        <% if (have_action) { %> <th class="uk-width-2-10 uk-text-center">Actions</th> <% } %>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in searchAction.Result.Items">
                                        <td ng-bind="item.<%= moduleName %>Id"></td>
                                        <td ng-bind="item.Name"></td>
                                        <td ng-bind="item.NationalId"></td>
                                        <td ng-bind="item.EconomicCode"></td>
                                        <% if (have_action) { %> <td class="uk-text-center">
                                            <% if (edit_action != null) { %> <a href="#"><i class="md-icon material-icons">edit</i></a> <% } %>
                                            <% if (detail_action != null) { %> <a href="#"><i class="md-icon material-icons">details</i></a> <% } %>
                                            <% if (delete_action != null) { %> <a href="#"><i class="md-icon material-icons">delete</i></a> <% } %>
                                        </td> <% } %>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-width-large-3-10">
                <div class="md-card" data-uk-sticky="{top:50}">
                    <div class="md-card-content">
                        <!--<h3 class="heading_c uk-margin-medium-bottom">Other settings</h3>-->
                        <form sh-form="searchAction" id="search-<%= moduleName %>">
                            <sh:input type="text" ng-model="Name" data-i18n-path="common" />
                            <sh:input type="text" ng-model="EconomicCodeOrNationalId" data-i18n-path="common" />
                            <button type="submit" class="md-btn md-btn-primary md-btn-block md-btn-wave-light waves-effect waves-button waves-light" href="javascript:void(0)" data-i18n="common.search"></button>
                            <button type="reset" class="md-btn md-btn-flat md-btn-mini md-btn-wave waves-effect waves-button">{{'common.show all' | i18n}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% if (add_action != null) { %>
<div class="md-fab-wrapper">
    <a class="md-fab md-fab-accent" href="#new-<%= moduleName %>-modal" data-uk-modal="{ center:true }">
        <i class="material-icons">&#xE145;</i>
    </a>
</div>
<div class="uk-modal" id="new-<%= moduleName %>-modal">
    <div class="uk-modal-dialog">
        <form sh-form="<%= moduleName %>.<%= add_action %>" class="uk-form-stacked">
            <sh:input type="text" ng-model="<%= moduleName %>CodePrefix" maxlength="10" required data-i18n-path="<%= moduleName %>" />
            <sh:input type="number" ng-model="Quantity" required data-i18n-path="common" />
            <sh:input type="mask" ng-model="CreditAmount.Amount" required data-i18n-path="common"
                      data-inputmask="'alias': 'numeric', 'groupSeparator': ',', 'autoGroup': true, 'digits': 0, 'digitsOptional': false, 'prefix': 'ريال ', 'placeholder': '0'"
                      data-inputmask-showmaskonhover="false" />
            <sh:input type="mask" ng-model="ExpiryDateTime" required data-i18n-path="common"
                      data-inputmask="'alias': '9999/99/99'" data-inputmask-showmaskonhover="false" />
            <div class="uk-modal-footer uk-text-right">
                <sh:input type="cancel" />
                <sh:input type="submit" />
            </div>
        </form>
    </div>
</div>
<div class="uk-modal" id="new-<%= moduleName %>s-modal">
    <div class="uk-modal-dialog">
        <!--<div class="uk-modal-header"></div>-->
        <h2 data-i18n="<%= moduleName %>.New <%= moduleName %> item"></h2>
        <div class="uk-alert uk-alert-success"> {{'common.sucessfull submiting' | i18n}} ({{new<%= moduleName %>s.length}})</div>
        <ul class="uk-list uk-list-striped">
            <li ng-repeat="item in new<%= moduleName %>s">{{item}}</li>
        </ul>
        <!--<div class="uk-modal-footer"></div>-->
    </div>
</div>
 <% } %>